
<div class="card-deck d-flex justify-content-center mt-5">
  <div class="card text-black col-md-2 item">
    <a href="products" style="color:black">
    <img class="card-img img-fluid" src="/assets/images/stock-icon.png" alt="stocks icon">
    <div class="card-img-overlay d-flex">
      <h2 class="card-body d-flex justify-content-center align-items-center">Stock Table</h2>
    </div>
    </a>
  </div>
  <div class="col-md-2"></div>
  <div class="card text-black col-md-2 item">
    <a href="orders" style="color:black">
    <img class="card-img" style="margin-top:8%" src="/assets/images/orders.png" alt="orders icon">
    <div class="card-img-overlay d-flex">
      <h2 class="card-body d-flex justify-content-center align-items-center">Orders</h2>
    </div>
    </a>
  </div>
</div>
