<h1 id="tableLabel">Order table</h1>

<p *ngIf="!orders"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="orders">
  <thead>
    <tr>
      <th>Order Nº</th>
      <th>Product Ordered</th>
      <th>Quantity Ordered</th>
      <th>Order Date</th>
      <th>Expected Delivery</th>
      <th>Order State</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders" class="item" (click)="getOrderDetails(order.id!)">
      <td>{{order.id}}</td>
      <td>
        <ng-container *ngFor="let item of order.orderItems">
          <p>{{item.product!.name}}</p>
        </ng-container>
      </td>
      <td>
        <ng-container *ngFor="let item of order.orderItems">
          <p>{{item.quantity}}</p>
        </ng-container>
      </td>
      <td>{{order.orderDate | date: 'dd/MM/yyyy'}}</td>
      <td>{{order.orderDelivery | date: 'dd/MM/yyyy'}}</td>
      <td>{{order.state}}</td>
    </tr>
  </tbody>
</table>

<!--<app-order-details [orders]="ord"></app-order-details>-->

<a routerLink="/order/create" class="btn btn-success">Place Order</a>
