<h1 id="tableLabel">Order table</h1>

<p *ngIf="!orders"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="orders">
  <thead>
    <tr>
      <th>Order Nº</th>
      <th>Product Ordered</th>
      <th>Order Date</th>
      <th>Order Delivery</th>
      <th>Order State</th>
      <th>Quantity Ordered</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders" class="item">
      <td>{{order.id}}</td>
      <td *ngFor="let product of order.productNames"><p>{{product}}</p></td>
      <td>{{order.orderDate}}</td>
      <td>{{order.orderDelivery}}</td>
      <td>{{order.state}}</td>
      <td>{{order.quantityOrdered}}</td>
    </tr>
  </tbody>
</table>

<a routerLink="/order/create" class="btn btn-success">Place Order</a>
