<h3>Request Service</h3>

<form [formGroup]="requestServiceForm" (ngSubmit)="requestService()">
  <div class="form-group">
    <label for="vehiclePlate">Licence Plate: </label>
    <input formControlName="vehiclePlate" name="vehiclePlate" id="vehiclePlate" type="text" class="form-control" />
    <div *ngIf="vehiclePlate?.invalid && (vehiclePlate?.touched || vehiclePlate?.dirty)" class="alert alert-danger">
      <div *ngIf="vehiclePlate?.errors?.['invalidPlate']">
        Car with this licence plate already registered by another user.
      </div>
    </div>
  </div>
  <div [formGroup]="addVehicleForm" *ngIf="showAddVehicleForm">
    <div class="form-group">
      <label for="type">Vehicle Type: </label>
      <select formControlName="type" name="type" id="type" class="form-control">
        <option value="Car">Car</option>
        <option value="Truck">Truck</option>
        <option value="Motorcycle">Motorcycle</option>
      </select>
    </div>
    <div class="form-group">
      <label for="brand">Vehicle Brand: </label>
      <input formControlName="brand" name="brand" id="brand" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="model">Vehicle Model: </label>
      <input formControlName="model" name="model" id="model" type="text" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <label for="type">Service Type:</label>
    <select formControlName="type" name="type" id="type" class="form-control">
      <option value="revision">Revision</option>
      <option value="oil_change">Oil Change</option>
      <option value="part_replacement">Part Replacement</option>
      <option value="general_tuning">General Tuning</option>
      <option value="other">Other</option>
    </select>
  </div>
  <div class="form-group mt-2">
    <button type="submit" class="btn-success btn me-1" [disabled]="!requestServiceForm.valid">Submit</button>
    <a href="services-client" class="btn btn-outline-secondary">Back</a>
  </div>
</form>
