<h1 *ngIf="product">{{product.name}}</h1>

<p *ngIf="!product || !productMissing"><em>Loading...</em></p>

<div class='row'>
  <div class='col-md-4'>
    <h5>Stock Needed</h5>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="product && productNeeded">
      <thead>
        <tr>
          <th>Quantity</th>
          <th>Needed for Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let needed of productNeeded">
          <td>{{ needed.quantityNeeded }}</td>
          <td>{{ needed.neededForDate | date: 'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class='col-md-4'>
      <h5>Missing stock</h5>
      <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="product && productMissing">
        <thead>
          <tr>
            <th>Quantity</th>
            <th>Needed for Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let needed of productMissing">
            <td>{{ needed.quantityNeeded }}</td>
            <td>{{ needed.neededForDate | date: 'dd/MM/yyyy' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class='col-md-4'>
      <h5>Current orders</h5>
      <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="orders">
        <thead>
          <tr>
            <th>Quantity</th>
            <th>Expected Delivery</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.quantityOrdered }}</td>
            <td>{{ order.orderDelivery | date: 'dd/MM/yyyy' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="product">
    <div class='col-md-3'>
      <p>Available in stock: {{product.availableQuantity}}</p>
      <button (click)="activeForm = 'AddToAvailable'" class="btn-primary btn">Add</button>
      <button (click)="activeForm = 'RemoveFromAvailable'" class="btn-secondary btn">Remove</button>
    </div>
    <div class='col-md-3'>
      <p>Stock needed: {{product.quantityNeeded}}</p>
      <button (click)="activeForm = 'AddToNeeded'" class="btn-primary btn">Add</button>
      <button (click)="activeForm = 'RemoveFromNeeded'" class="btn-secondary btn">Remove</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <form [formGroup]="addProductQtdForm" (ngSubmit)="addProductAvailable()" *ngIf="activeForm=='AddToAvailable'">
        <div class="form-group">
          <label for="quantity">Quantity: </label>
          <input ngModel formControlName="quantity" id="quantity" type="number" class="form-control" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn-success btn" [disabled]="!addProductQtdForm.valid">Submit</button>
        </div>
      </form>
      <form [formGroup]="removeProductQtdForm" (ngSubmit)="removeProductAvailable()" *ngIf="activeForm=='RemoveFromAvailable'">
        <div class="form-group">
          <label for="quantity">Quantity: </label>
          <input required ngModel formControlName="quantity" id="quantity" type="number" class="form-control" />
          <div *ngIf="quantity?.invalid && (quantity?.touched || quantity?.dirty)" class="alert alert-danger">
            <div *ngIf="quantity?.errors?.['invalidQuantity']">
              Quantity to remove must be the same or less than quantity available.
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn-secondary btn" [disabled]="!removeProductQtdForm.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
