<h2>Create New Product</h2>

<form #productForm="ngForm" (ngSubmit)="createProduct(productForm)">
  <!--(ngSubmit)="createProduct(productForm)"-->
  <div class="form-group">
    <label for="name">Name: </label>
    <input required ngModel name="name" id="name" type="text" class="form-control" />
  </div>
  <div class="form-group">
    <label for="category">Category: </label>
    <input required ngModel name="category" id="category" type="text" class="form-control" />
  </div>
  <div class="form-group">
    <label for="brand">Brand: </label>
    <input required ngModel name="brand" id="brand" type="text" class="form-control" />
  </div>
  <div class="form-group">
    <label for="availableQuantity">Available Quantity: </label>
    <input required ngModel name="availableQuantity" id="availableQuantity" type="number" class="form-control" />
  </div>
  <div class="form-group">
    <label for="description">Description: </label>
    <input required ngModel name="description" id="description" type="text" class="form-control" />
  </div>
  <div class="form-group">
    <label for="price">Price: </label>
    <input required ngModel name="price" id="price" type="number" class="form-control" />
  </div>
  <!--<div class="form-group">
    <label for="img">Image: </label>
    <input type="file" #file name="img" id="img" accept="image/png, image/jpeg" (change)="uploadFile(file.files)" class='file-upload' required>
  </div>-->
  <div class="form-group">
    <label for="img">Image: </label>
    <input required type="file" #file name="img" id="img" accept="image/png, image/jpeg" (change)="onChange($event)" class='file-upload'>
  </div>
  <div class="form-group">
    <button type="submit" class="btn-primary btn" [disabled]="!productForm.valid">Create</button>
    <a routerLink="/products" class="btn btn-primary">Back</a>
  </div>
</form>



