<h1 id="tableLabel">Stock Table</h1>

<p *ngIf="!products"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Available</th>
      <th>Needed</th>
      <th>Missing</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products" class="item" (click)="getProductPage(product.id)">
      <td>{{ product.name }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.brand }}</td>
      <td>{{ product.price | currency: 'EUR' }}</td>
      <td>{{ product.availableQuantity }}</td>
      <td>{{ product.quantityNeeded }}</td>
      <td [style.background]="getBackground(product.missingQuantity, product.daysUntilNextNeed)">{{ product.missingQuantity }}</td>
    </tr>
  </tbody>
</table>
<button (click)="sortByUrgency()" class="btn btn-primary">Order by missing stock urgency</button>
<a routerLink="/product/create" class="btn btn-success">Add Product</a>

